services:
  db:
    image: postgres:16
    container_name: auto-control-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: auto-control-backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    command: npm run dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: auto-control-frontend
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    command: npm run dev
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}

volumes:
  pgdata_dev:
  backend_node_modules:
  frontend_node_modules:
