services:
  db:
    image: postgres:16
    container_name: auto-control-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: auto-control-backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - db
    command: npm run dev

volumes:
  pgdata:
